body .desktop .folder .resizers, body .desktop .folder .handle .titleBox .btns .btn, body .desktop .folder .handle .titleBox .title, body .desktop .folder .handle, body .desktop .rc-menu, body {
  background: white;
  color: black;
}

body .desktop {
  font-size: 16px;
  transition: opacity 1s;
  position: absolute;
  width: 100vw;
  top: 1vmin;
  left: 1vmin;
  opacity: 0;
  pointer-events: none;
  line-height: 1;
}
body .desktop .nav {
  height: 1.5em;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  border-bottom: black 2px solid;
  background: white;
}
body .desktop .nav .left {
  float: left;
  display: flex;
  flex-direction: row;
}
body .desktop .nav .center {
  display: flex;
  flex-direction: row;
  float: right;
  width: 100%;
  overflow: none;
}
body .desktop .nav .center ::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
body .desktop .nav .center .tab {
  margin: 3px 10px 5px 10px;
  padding: 0px 2px 17px 2px;
  outline: none;
  border: 1px solid black;
}
body .desktop .nav .right {
  float: right;
  display: flex;
  flex-direction: row-reverse;
}
body .desktop .nav .nav-item {
  padding: 5px 10px 5px 10px;
  outline: none;
  white-space: nowrap;
}
body .desktop .nav .nav-item:hover {
  color: white;
  background: black;
  cursor: pointer;
  user-select: none;
}
body .desktop .rc-menu {
  position: absolute;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  border: solid black 1px;
  z-index: 2;
}
body .desktop .rc-menu .menu-item {
  padding: 3px 20px 3px 3px;
}
body .desktop .rc-menu .menu-item:hover {
  color: white;
  background: black;
  cursor: pointer;
  user-select: none;
}
body .desktop .rc-menu .rightclick-item {
  padding: 3px 10px 3px 10px;
}
body .desktop .rc-menu .rightclick-item:hover {
  color: white;
  background: black;
  cursor: pointer;
  user-select: none;
}
body .desktop .rightclickscreen {
  height: 96.5vh;
  width: 100%;
  position: absolute;
  background: white;
}
body .desktop .folder {
  min-height: 30px;
  min-width: 30px;
  width: 200px;
  height: 200px;
  border: 2px black solid;
  text-align: center;
  position: absolute;
  z-index: 2;
  opacity: 0;
  outline: none;
  transition: opacity ease 0.5s;
  pointer-events: none;
}
body .desktop .folder .handle {
  width: 100%;
  height: 20px;
  border-bottom: black 2px solid;
  cursor: all-scroll;
  position: absolute;
}
body .desktop .folder .handle .titleBox {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  overflow: hidden;
}
body .desktop .folder .handle .titleBox .title {
  width: 25%;
  position: absolute;
  margin: 0 37.5%;
  overflow: hidden;
  color: grey;
}
body .desktop .folder .handle .titleBox .btns {
  display: flex;
  width: 100px;
}
body .desktop .folder .handle .titleBox .btns .btn {
  border: black 1px solid;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: auto 5%;
}
body .desktop .folder .handle .titleBox .btns .btn.red {
  background: #FF605C;
  cursor: pointer;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
body .desktop .folder .handle .titleBox .btns .btn.red .close {
  transform: scale(0.7) translate(-0.1px, -6.6px);
  visibility: hidden;
  user-select: none;
  color: #1b1e23;
}
body .desktop .folder .handle .titleBox .btns .btn.red:active {
  background: #ff9f9d;
}
body .desktop .folder .handle .titleBox .btns .btn.yellow {
  background: #FFBD44;
  cursor: pointer;
}
body .desktop .folder .handle .titleBox .btns .btn.yellow .minimize {
  transform: scale(0.7) translate(-0.2px, -6.5px);
  visibility: hidden;
  user-select: none;
  color: #1b1e23;
}
body .desktop .folder .handle .titleBox .btns .btn.yellow:active {
  background: #ffd78e;
}
body .desktop .folder .handle .titleBox .btns .btn.green {
  background: #00CA4E;
  cursor: pointer;
}
body .desktop .folder .handle .titleBox .btns .btn.green .expand {
  transform: scale(0.7) translate(-0.1px, -6.5px);
  visibility: hidden;
  user-select: none;
  color: #1b1e23;
}
body .desktop .folder .handle .titleBox .btns .btn.green .compress {
  transform: scale(0.7) translate(-0.1px, -6.5px);
  visibility: hidden;
  user-select: none;
  color: #1b1e23;
}
body .desktop .folder .handle .titleBox .btns .btn.green:active {
  background: #66df94;
}
body .desktop .folder .handle .lines {
  width: 100%;
  margin-top: 3.2px;
  position: absolute;
}
body .desktop .folder .handle .lines .line {
  width: 100%;
  margin-top: 1px;
  border-top: grey 1px solid;
}
body .desktop .folder .resizers {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
body .desktop .folder .resizers .resizer {
  width: 1%;
  height: 1%;
  border: 3px solid transparent;
  position: absolute;
}
body .desktop .folder .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize;
  z-index: 1;
}
body .desktop .folder .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
  z-index: 1;
}
body .desktop .folder .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
  z-index: 1;
}
body .desktop .folder .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
  z-index: 1;
}
body .desktop .folder .resizers .resizer.left {
  left: -5px;
  top: -3px;
  height: 100%;
  cursor: ew-resize;
}
body .desktop .folder .resizers .resizer.right {
  right: -5px;
  top: -3px;
  height: 100%;
  cursor: ew-resize;
}
body .desktop .folder .resizers .resizer.top {
  left: -3px;
  top: -5px;
  width: 100%;
  cursor: ns-resize;
}
body .desktop .folder .resizers .resizer.bottom {
  left: -5px;
  bottom: -5px;
  width: 100%;
  cursor: ns-resize;
}
body .desktop .desk-item {
  width: 50px;
  height: 60px;
  position: absolute;
  text-align: center;
  outline: none;
}
body .desktop .desk-item .item-icon {
  width: 100%;
  height: 70%;
}
body .desktop .desk-item .item-icon i {
  color: pink;
  margin: 17px;
  transform: scale(3);
}
body .desktop .desk-item .item-name {
  margin-top: 0.3em;
  font-size: 0.9em;
}
body .startup {
  font-size: 1vmin;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: radial-gradient(circle at 50% 40%, #ff819c 30%, #360167 100%);
  z-index: 0;
  overflow: hidden;
}
body .startup .computer {
  transition: width 0.5s, height 0.5s;
  position: absolute;
  width: 66em;
  height: 77em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .startup .computer:before {
  content: "";
  width: 52em;
  height: 0;
  position: absolute;
  top: -5em;
  left: 1.2em;
  border-left: solid 5em transparent;
  border-right: solid 5em transparent;
  border-bottom: solid 8em #e7e7d5;
}
body .startup .computer:after {
  content: "";
  width: 25em;
  height: 10em;
  position: absolute;
  top: -13em;
  left: 19.8em;
}
body .startup .computer .monitor {
  width: 95%;
  height: 89%;
  background: conic-gradient(#DDDBC2 0 11.5%, #a5a58c 12.5% 12.5%, #8e8e78 12.5% 34%, #5e5e50 39% 61.4%, #e7e7d5 62.3% 87%, #DFDAC4 87.5% 89%, #DDDBC2 89.25%);
  position: absolute;
  top: 0.8em;
  left: 0.8em;
  border-radius: 3.5em;
}
body .startup .computer .monitor:before {
  content: "";
  top: 4em;
  left: 3.1em;
  width: 91%;
  height: 89%;
  position: absolute;
  border-radius: 2em;
  background: linear-gradient(135deg, #d9d9bc 0%, #a5a58c 80%, #8e8e78 100%);
}
body .startup .computer .monitor .screen-hole {
  width: 75%;
  height: 50%;
  background-color: #DDDBC2;
  position: absolute;
  left: 8.5em;
  top: 7em;
  border-radius: 1em;
  background-image: conic-gradient(#47473c 15%, #bdbda0 16.5% 33.5%, #dedec4 35% 65.5%, #47473c 66.5% 83.5%, #47473c 86.5%);
}
body .startup .computer .monitor .screen-hole .screen {
  z-index: 2;
  transition: width 1s, height 1s, top 1s, left 1s;
  width: 95%;
  height: 90%;
  position: absolute;
  background: black;
  border-radius: 3em;
  top: 1.2em;
  left: 1.2em;
  overflow: hidden;
}
body .startup .computer .monitor .screen-hole .screen .screen-on {
  top: 2em;
  left: 1em;
  background: #00aaff;
  border-radius: 1.5em;
  box-shadow: 0px 0px 50px 0px #00aaff;
  width: 95%;
  height: 85%;
  position: absolute;
  opacity: 0;
  animation-fill-mode: forwards;
}
body .startup .computer .monitor .screen-hole .screen .filter {
  background-image: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  position: absolute;
  background-size: 100% 2px, 3px 100%;
  width: 95%;
  height: 85%;
  top: 2em;
  left: 1em;
  border-radius: 1.5em;
  animation: flicker 0.15s infinite;
  z-index: 4;
  pointer-events: none;
}
body .startup .computer .monitor .logo {
  width: 6.5%;
  height: 6.5%;
  background: #bdbda0;
  position: absolute;
  top: 54.3em;
  left: 8.5em;
  border-radius: 0.8em;
  box-shadow: inset 1px 1px 2px 0;
}
body .startup .computer .monitor .logo i {
  position: absolute;
  left: 0.2em;
  top: 0.3em;
}
body .startup .computer .monitor .cd {
  width: 13.5%;
  height: 7%;
  background: conic-gradient(#767664 15%, #bdbda0 16.5% 33.5%, #dedec4 35% 65.5%, #8e8e78 66.5% 83.5%, #767664 84%);
  position: absolute;
  top: 49.5em;
  left: 47em;
  border-radius: 0.6em;
}
body .startup .computer .monitor .cd:before {
  content: "";
  width: 60%;
  height: 70%;
  background: linear-gradient(180deg, #5e5e50 10%, #d5d5b4 25%, black 30%, black 70%, #d5d5b4 75%, #a5a58c 90%);
  position: absolute;
  border-radius: 0.5em;
  top: 0.7em;
  left: 1.7em;
}
body .startup .computer .monitor .cd:after {
  content: "";
  width: 1.8em;
  height: 18%;
  background: linear-gradient(150deg, #dedec4 50%, #8e8e78 50%);
  position: absolute;
  top: 2.8em;
  left: -0.1em;
  z-index: 0;
}
body .startup .computer .monitor .cd .cd-dot {
  width: 0.5em;
  height: 0.5em;
  background: black;
  position: absolute;
  border-radius: 50%;
  right: 0.62em;
  bottom: 1em;
  box-shadow: inset 0px -0.08em 0.15em 0.01em white;
}
body .startup .computer .monitor .cd .cd-long {
  width: 18em;
  height: 48%;
  position: absolute;
  background: conic-gradient(at 15% 50%, #767664 15%, #767664 16.5% 24.5%, #dedec4 25% 67.5%, #8e8e78 69% 81%, #767664 82.5%);
  top: 1.25em;
  left: -16.3em;
}
body .startup .computer .monitor .cd .cd-long:before {
  content: "";
  width: 9%;
  height: 30%;
  background: linear-gradient(210deg, #8e8e78 50%, #767664 50%);
  position: absolute;
  right: 0em;
}
body .startup .computer .monitor .cd .cd-long:after {
  content: "";
  width: 92%;
  height: 45%;
  background: black;
  position: absolute;
  border-radius: 0.15em;
  top: 0.62em;
  left: 1.7em;
  z-index: 1;
}
body .startup .computer .bottom {
  width: 93.2%;
  height: 13%;
  position: absolute;
  background: linear-gradient(180deg, #2f2f28 0%, #767664 50%, #a5a58c 80%);
  bottom: -0.5em;
  left: 1.5em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  box-shadow: 0px 3.5em 2em -3em;
  z-index: -1;
}
body .startup .computer .bottom:before {
  content: "";
  width: 2.3%;
  height: 100%;
  position: absolute;
  background: linear-gradient(90deg, #d5d5b4 0%, #8e8e78 100%);
  bottom: 0.1em;
  left: 0em;
  border-bottom-left-radius: 2em;
}
body .startup .computer .bottom:after {
  content: "";
  width: 2.3%;
  height: 100%;
  position: absolute;
  background: linear-gradient(180deg, #2f2f28 0%, #767664 38%, #a5a58c 100%);
  bottom: 0.1em;
  right: 0em;
  border-bottom-right-radius: 2em;
}
body .startup .computer .bottom .power-btn {
  width: 5.7%;
  height: 35%;
  position: absolute;
  background: linear-gradient(180deg, #750014 0%, #D60D2E 100%);
  bottom: 3em;
  right: 7.3em;
  border-radius: 2em;
  box-shadow: 0px 0.4em 0px #750014;
  transform: rotateX(10deg) translateY(0);
  cursor: pointer;
}
body .startup .computer .bottom .power-btn i {
  position: absolute;
  left: 0.4em;
  top: 0.5em;
  transform: scale(1.1);
}
body .startup .computer .bottom .power-btn:active {
  text-shadow: 0 0 4px #AD001D;
  box-shadow: 0 0.1em 0 #423847;
  transition: transform 0.05s, box-shadow 0.05s;
  transform: rotateX(10deg) translateY(0.2em);
}
body .startup .computer .bottom .power-btn:active i {
  color: #FF0000;
  text-shadow: 0px 0em 4px #ff3838;
}
body .startup .floor {
  width: 200%;
  height: 80%;
  position: absolute;
  bottom: 0em;
  left: -50%;
  background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
  transform: perspective(35em) rotateX(65deg);
  z-index: -1;
  overflow-x: hidden;
}

@keyframes background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes flicker {
  0% {
    opacity: 0.9226420956;
  }
  5% {
    opacity: 0.303455133;
  }
  10% {
    opacity: 0.7801261424;
  }
  15% {
    opacity: 0.1680550133;
  }
  20% {
    opacity: 0.3415907304;
  }
  25% {
    opacity: 0.9400271833;
  }
  30% {
    opacity: 0.9457996048;
  }
  35% {
    opacity: 0.0546209577;
  }
  40% {
    opacity: 0.8694493926;
  }
  45% {
    opacity: 0.3551678106;
  }
  50% {
    opacity: 0.6886035447;
  }
  55% {
    opacity: 0.2928458007;
  }
  60% {
    opacity: 0.2723543341;
  }
  65% {
    opacity: 0.7658650629;
  }
  70% {
    opacity: 0.8962038033;
  }
  75% {
    opacity: 0.509359078;
  }
  80% {
    opacity: 0.5027140266;
  }
  85% {
    opacity: 0.9038091776;
  }
  90% {
    opacity: 0.2568733869;
  }
  95% {
    opacity: 0.5507018763;
  }
  100% {
    opacity: 0.1512432003;
  }
}
@keyframes turn-on {
  0% {
    box-shadow: none;
    transform: scale(1, 1) translate3d(0, -100%, 0);
    -webkit-filter: brightness(1);
    filter: brightness(1);
    opacity: 0.2;
  }
  3.5% {
    box-shadow: none;
    transform: scale(1, 1) translate3d(0, 100%, 0);
    opacity: 0.4;
  }
  3.6% {
    box-shadow: none;
    transform: scale(1, 1) translate3d(0, 0, 0);
    opacity: 0;
  }
  3.7% {
    box-shadow: none;
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: brightness(0.4);
    filter: brightness(0.4);
    opacity: 0.3;
  }
  11% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(0.6) brightness(0.6);
    filter: contrast(0.6) brightness(0.6);
    opacity: 0.7;
  }
  50% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}
@keyframes turn-off {
  0% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: brightness(1);
    filter: brightness(1);
    opacity: 1;
  }
  60% {
    box-shadow: none;
    transform: scale(1, 0.001) translate3d(0, 0, 0);
    -webkit-filter: brightness(10);
    filter: brightness(10);
  }
  100% {
    box-shadow: none;
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: scale(0, 0.0001) translate3d(0, 0, 0);
    -webkit-filter: brightness(50);
    filter: brightness(50);
  }
}
.tabAnimate-entering {
  opacity: 0.5;
}

.tabAnimate-entered {
  opacity: 1;
}

.tabAnimate-exiting {
  opacity: 0.5;
}

.tabAnimate-exited {
  opacity: 0;
}

/*# sourceMappingURL=App.css.map */
